SECRET_KEY='secretgoeshere'
OPENHUMANS_CLIENT_ID='clientidhere'
OPENHUMANS_CLIENT_SECRET='clientsecrethere'

# Set if you want to test against local version of main site
# OPENHUMANS_OH_BASE_URL='http://127.0.0.1:8000'

# Set if you want another redis URL
# REDIS_URL='redis://'