[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
celery = "*"
gunicorn = "*"
django = "*"
django-heroku = "*"
django-crispy-forms = "*"
requests = "*"
django-open-humans = "*"
redis = "*"

[requires]
python_version = "3.6"
