<p>
    This project allows you to collect logs related to the access of your files.
</p>

<p>
    Check out <a href="https://www.openhumans.org/activity/loggather">this project's activity page</a>
    to see how notebooks, projects, and members are using & sharing this data.
    (Once connected, you can also find your data on this page!)
</p>

<p>
    This connection provides two sets of csv formatted files.  The
    first set contains logs to access events through the Open Humans
    interface.  The second set contains access events of the files
    themselves as they rest in S3 on Amazon's servers.  These files
    contain, as their first line, a header with column definitions,
    followed by each event on its own line, separated by commas.
</p>

<p>
    This site is managed by
    <a href="https://www.openhumans.org">Open Humans</a> and follows the same
    <a href="https://www.openhumans.org/terms">terms of use</a>.
    Data stored in Open Humans is private by default: it's your personal archive
    and always available to you, and you choose when to share with others.
</p>
